In [1]:
#library
import string
import re
import pandas as pd
import numpy as np
from google.colab import drive

In [2]:
#Menyambungkan Ke drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
## Data PPKM
data_ppkm = pd.read_csv('/content/gdrive/MyDrive/Skripsi/Data/gabungan.csv')
data_ppkm.head()

,service,date,time,message
0,blogs,08/03/2021,23:33:00,"Majalengka, Zonabandung.com,- Untuk meringanka..."
1,blogs,08/03/2021,23:18:00,DJ Dinar Candy menyampaikan komentar terkait a...
2,blogs,08/03/2021,22:51:00,Pemerintah resmi memperpanjang pemberlakuan pe...
3,blogs,08/03/2021,21:50:00,"Dalam instruksi tersebut, untuk pemberlakuan P..."
4,blogs,08/03/2021,21:10:00,Sebelumnya penerapan PPKM Level 3 juga sudah d...

In [4]:
data_ppkm.shape

(2506835, 4)

In [5]:
data_ppkm.groupby(['service'])['message'].count()

service
blogs          12651
facebook           2
instagram     571538
news           90670
twitter      1725627
youtube       106347
Name: message, dtype: int64

In [6]:
## Data Twitter
data_twitter = data_ppkm.loc[ lambda data_twitter : data_twitter['service'] == 'twitter']
print(data_twitter.head())
print(data_twitter.shape)

       service        date      time  \
31291  twitter  08/03/2021  23:59:00
31292  twitter  08/03/2021  23:57:00
31293  twitter  08/03/2021  23:57:00
31294  twitter  08/03/2021  23:57:00
31295  twitter  08/03/2021  23:56:00

                                                 message
31291  RT @_pln_id:Abang lagi memelihara Isolator SUT...
31292  @Askrlfess Semuanya di potong, bahkan bansos s...
31293  RT @KakekHalal:PPKM mereka ribut\nVaksin merek...
31294  paling benci laper tengah malam di masa ppkm. ...
31295  RT @ABSetyono:PPKM LEVEL 4 DIPERPANJANG,MENKOM...
(1725627, 4)

In [7]:
#Mengurutkan Data dan Menghapus duplikasi
data_awal = data_twitter.drop_duplicates(subset='message').sort_values(by='date', ascending=False)
print(data_awal.shape)

(1050244, 4)

In [8]:
##SEED
SEED = 2022

In [9]:
## Sampling 
data_input = data_twitter.sample(n=5000, random_state = SEED)
data_input.shape
data_input.to_csv('data_label.csv', index = False)